@charset "UTF-8";

/*Basis Formatierungen*/
html {
	background-color: white;
}

body {
	font-family: 'Fira Sans', Roboto, Arial, sans-serif;
	line-height: 150%;
	margin: 0;
	background-color: white;
	color: black;
	font-size: 13pt;
	font-style: normal;
	height: 100vh;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

div.pagewrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/*Formatierung Navigationsleiste*/
div.navbar {
	height: 88px;
	width: 100%;
	margin: auto;
	background-color: #99BB44;
}

div.navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a.navlink {
	text-decoration: none;
	display: block;
	box-sizing: border-box;
}

div.navlink {
	text-decoration: none;
	display: block;
	box-sizing: border-box;
}

div.navbar ul li {
	display: inline-block;
	width: 49%;
}

#question {
	position: absolute;
	margin-top: -43px;
	right: 32px;
}

/* --- Seiteninhalt --- */
div.seiteninhalt {
	position: relative;
	flex: 1;
	height: 50%;
	width: 100%;
	margin: auto;
}

table {
	width: 100%;
	border-spacing: 0px;
}

.wrap {
	height: 100%;
	padding-left: 32px;
	padding-right: 32px;
	overflow-y: scroll;
}

/*Formatierung des Overlays*/
/*Seiteninhalt & Grundpositionierung*/
div.helper {
	height: 100vh;
	display: flex;
	justify-content: center;
}

div.overlayparent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/*Das eigentliche PopUp*/
div.overlaychild {
	width: 536px;
	height: 287px;
	background: #FFFDFD;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	margin-top: 0;
	/*Positionierung der inneren Elemente*/
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/*Headline im PopUp*/
p.olhead {
	margin: 0;
	font-family: "Londrina Solid";
	font-size: 36px;
	text-transform: uppercase;
	padding-top: 6px;
}

/*Kennworteingabe*/
div.eingabe {
	padding-top: 24px;
}

input.eingabefeld {
	width: 472px;
	height: 46px;
	background: #F2F1F0;
	border: none;
	border-radius: 8px;
}

input[type=text] {
	font-family: "Fira Sans";
	font-size: 16px;
	text-align: center;
}

p.vergessen {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: left;
	color: #BEBEB9;
	margin-top: 0px;
	padding-top: 9px;
	order: -1;
}

/*Positionierung der Buttons*/
div.buttonscontainer {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin: 0;
	padding-top: 24px;
	order: 0;
}

/*Formatierung der Buttons*/
input.buttongreen {
	height: 54px;
	width: 228px;
	background: #99BB44;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	border: none;
	text-align: center;
	font-family: 'Fira Sans';
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}

input.buttongreen:hover {
	background-color: #7F9D32;
	color: white;
}

div.buttonwhite {
	height: 54px;
	width: 228px;
	border: 2px solid #E6E5E3;
	border-radius: 16px;
}

div.buttonwhite:hover {
	border: 2px solid #7F9D32;
	color: #7F9D32;
}

p.buttontext {
	text-align: center;
	font-family: 'Fira Sans';
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}

/*Logout Buttons*/
/*Formatierung der Buttons*/
button.buttongreen {
	height: 54px;
	width: 228px;
	background: #99BB44;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	border: none;
	text-align: center;
	font-family: 'Fira Sans';
	font-weight: 600;
	font-size: 18px;
	margin: 0;
}

button.buttongreen:hover {
	background-color: #7F9D32;
	color: white;
}

button.buttonwhite {
	height: 54px;
	width: 228px;
	border: 2px solid #E6E5E3;
	border-radius: 16px;
	text-align: center;
	font-family: 'Fira Sans';
	font-weight: 600;
	font-size: 18px;
	margin: 0;
	color: #99BB44;
	background-color: white;
}

button.buttonwhite:hover {
	color: #7F9D32;
	border: 2px solid #7F9D32;
}

/*Modalisierung
/* The Modal (background) */
#overtrigger {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.3);
	/* Black w/ opacity */
}

/*Admin Seiten  Formatierungen*/
/*Grundformatierungen*/
div.navcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

p.navbarhead {
	margin: 0px;
	font-family: "Londrina Solid";
	font-size: 36px;
	color: white;
	font-weight: 400;
	text-transform: uppercase;
	padding-left: 32px;
	line-height: 42px;
}

div.logout {
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
	padding-right: 32px;
	
	cursor: pointer;
}

p.logouttext {
	font-size: 16px;
	line-height: 19px;
	color: white;
	font-weight: 600;
}

/*Formatierungen des Footers*/
footer {
	height: 94px;
	width: 100%;
	margin: auto;
	/* z-index: 1; */
}

div.footerbg {
	height: 94px;
	background-color: white;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding-right: 32px;
}

button.refreshbutton {
	width: 228px;
	height: 54px;
	background: #99BB44;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	border: none;
	color: white;
	font-family: 'Fira Sans';
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
}

/*Lagerübersicht*/
/*Lagerübersicht Formatierung*/

/*Tabellengestaltung*/

th {
	text-align: left;
	border-bottom: 2px solid #E5E5E3;
	border-collapse: collapse;
	padding-top: 32px;
	padding-bottom: 16px;
	color: #BEBEB9;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.2px;
}

td {
	border-bottom: 2px solid #E5E5E3;
	border-collapse: collapse;
	color: #1E212B;
	height: 80px;
	font-size: 18px;
	line-height: 26px;
}

div.tablecontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#login {
	cursor: pointer;
}

/* Checkbox Logik */

.check-item {
	position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.check-item input {
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    z-index: 10;
    position: absolute;
}

.check-item img {
    cursor: pointer;
}

.check-item img:last-child {
    position: absolute;
    opacity: 0;
}

.check-item input:checked~img {
    opacity: 1;
}

.mfwFooter {
	height: 94px;
	background-color: white;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 32px;
	padding-right: 32px;
}

.mfwFooter div:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.mfwFooter button {
	width: 228px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	margin: 0;
}
.mfwFooter a {
	width: 228px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	margin: 0;
}