/* Farben-Variablen */
:root {
    --apple-green: #99BB44;
    --dark-green: #446622;
    --light-green: #D5E989;
    --onyx: #1E212B;
    --concrete: #BEBEB9;
    --sand: #E5E5E3;
    --alabaster: #F2F1F0;
    --white: #FFFDFD;
    --error-red: #E97878;
}

/* Allgemeine CSS Einstellungen */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
    text-decoration: none;
}

/* CSS für den Header */
header {
    background-color: var(--apple-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
    margin-bottom: 80px;
}

button {
    cursor: pointer;
}

/* Formatierung für Login im Header */
.MitarbeiterLogin {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/* Login-Button im Header */
#LoginButton {
    border: 2px solid var(--sand);
    border-radius: 8px;
    padding: 12px;
    margin-left: 12px;
}

/* Einrichtung des 12col-Grids für Hauptbereich der Seite*/
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    padding: 0 32px;
}

/* Grid für Anmeldemaske */
.Anmeldeformular {
    grid-column: 4 / span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

/* Elemente, die sich über die Hälfte der Anmeldemaske ausdehnen */
.col-3 {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
}

/* Elemente, die sich über die gesamte Anmeldemaske ausdehnen */
.col-6 {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
}

/* Styling der Beschriftungen der Eingabefelder */
label {
    color: var(--concrete);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

/* Styling der Eingabefelder */
input {
    background-color: var(--alabaster);
    border-radius: 8px;
    border: none;
    padding: 10px 12px;
    height: 46px;

    /* Styling der Schrift */
    color: var(--onyx);
    font-size: 18px;
}

/* Styling der Anweisung (zu Email und Tel-nr) */
form>p {
    color: var(--concrete);
    font-size: 14px;
    text-align: center;
}

/* Styling Button allgemein */
.button {
    /* Layout Button */
    height: 54px;
    border-radius: 16px;

    /* Schrift */
    font-size: 18px;
    font-weight: 600;

    /* Positionierung Schrift */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    cursor: pointer;
}

/* Styling Primary Button */
.primary {
    background-color: var(--apple-green);
    border: none;
    color: var(--white);
}

/* Styling Secondary Button */
.secondary {
    background-color: var(--white);
    border: 2px solid var(--sand);
    color: var(--apple-green);
}

.error>label {
    color: var(--error-red);
}

.error>input {
    border: 2px solid var(--error-red);
}

/*Mitarbeiter-Login*/
#startscreen-mitarbeiter-button {
    width: 48px;
    height: 48px;
    background-color: #99BB44;
    border: 2px solid #E5E5E3;
    border-radius: 8px;
    margin-left: 13px;
}

#login-logo {
    margin: 4px auto auto auto;
}

/*AnmeldePopUp*/
/*Formatierung des Overlays*/
/*Seiteninhalt & Grundpositionierung*/
div.helper {
    height: 100vh;
    display: flex;
    justify-content: center;
}

div.overlayparent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Das eigentliche PopUp*/
div.overlaychild {
    width: 536px;
    height: 287px;
    background: #FFFDFD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    margin-top: 0;
    /*Positionierung der inneren Elemente*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Headline im PopUp*/
p.olhead {
    margin: 0;
    font-family: "Londrina Solid";
    font-size: 36px;
    text-transform: uppercase;
    padding-top: 6px;
}

/*Kennworteingabe*/
div.eingabe {
    padding-top: 24px;
}

input.eingabefeld {
    width: 472px;
    height: 46px;
    background: #F2F1F0;
    border: none;
    border-radius: 8px;
}

input[type=text] {
    font-family: "Fira Sans";
    font-size: 16px;
    text-align: left;
}

p.vergessen {
    display: none;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #BEBEB9;
    padding-top: 9px;
    order: -1;
}

/*Positionierung der Buttons*/
div.buttonscontainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0;
    padding-top: 24px;
    order: 0;
}

/*Formatierung der Buttons*/
input.buttongreen {
    height: 54px;
    width: 228px;
    background: #99BB44;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    border: none;
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 18px;
    margin: 0;    
    cursor: pointer;
}

input.buttongreen:hover {
    background-color: #7F9D32;
    color: white;
}

div.buttonwhite {
    height: 54px;
    width: 228px;
    border: 2px solid #E6E5E3;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

div.buttonwhite:hover {
    border: 2px solid #7F9D32;
    color: #7F9D32;
}

div.buttonwhite2 {
    height: 54px;
    width: 228px;
    border: 2px solid #E6E5E3;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

div.buttonwhite2:hover {
    border: 2px solid #7F9D32;
    color: #7F9D32;
}

p.buttontext {
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

/*Logout Buttons*/
/*Formatierung der Buttons*/
button.buttongreen {
    height: 54px;
    width: 228px;
    background: #99BB44;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    border: none;
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

button.buttongreen:hover {
    background-color: #7F9D32;
    color: white;
}

button.buttonwhite {
    height: 54px;
    width: 228px;
    border: 2px solid #E6E5E3;
    border-radius: 16px;
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    color: #99BB44;
    background-color: white;
}

button.buttonwhite:hover {
    color: #7F9D32;
    border: 2px solid #7F9D32;
}

/*Modalisierung
/* The Modal (background) */
#overtrigger {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/ opacity */
}

/*Modalisierung
/* The Modal (background) */
#overtrigger2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/ opacity */
}

/*Auswahl Anmeldemöglichkeit Fenster*/
div.seiteninhalt-anmeldung {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
form.emailco {
    margin:0;
    justify-content: center;
    align-items: center;
}
div.header {
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
#btnbreakup {
    margin: 0;
    /* onyx */
    color: #1E212B;
    /* sand  */
    border: solid 2px #E5E5E3;
    border-radius: 16px;
    padding: 8px 12px;
    width: 228px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #99BB44;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Fira Sans";
    line-height: 26px;
}
#btnallesklar {
    margin: 0;
    /* onyx */ 
    border-radius: 16px;
    padding: 8px 12px;
    width: 310px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: #99BB44;;
    font-size: 18px;
    font-weight: 600;
    font-family: "Fira Sans";
    line-height: 26px;
    margin-top: 41px;
    border: none;
}
button.btn {
    margin: 0;
    /* onyx */
    color: #1E212B;
    /* sand  */
    border: solid 2px #E5E5E3;
    border-radius: 16px;
    padding: 8px 12px;
    width: 310px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 16px;
    color: #99BB44;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Fira Sans";
    line-height: 26px;
}
input.radioitem {
    height: 54px;
    width: 310px;
    position: absolute;
    left:0;
    opacity: 0;
    cursor: pointer;
    margin-top: 0;
}
button:checked {
    border: solid 2px #99BB44;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
button.reg {
    width: 310px;
    height: 54px;
    border: 2px solid #E5E5E3;
    border-radius: 16px;
    margin-top: 16px;
    color: #99BB44;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Fira Sans";
    line-height: 26px;
}
footer {
    position: fixed;
    bottom: 0;
    visibility:hidden;
}
button:hover {
    cursor: pointer;
}
div.formvariabel {
    width: 310px;
}

/*Display None für Formularfelder*/
div.anmeldungmail, div.anmeldungtel, div.anmeldungid {
    display:none;
    margin-top: 48px;
}
/*Datenschutztext*/
p.dataschutz{
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #BEBEB9;
    padding-left: 15px;
}
img.checkboxchecked {
    display: none;
}
div.datenschutz input:checked~img.checkboxchecked {
   display: block;
}
div.datenschutz input:checked~img.checkbox {
   display: none;
}
#datacheck {
    width: 60px !important;
    height: 50px !important;
    opacity: 0;
}