/* Allgemein  */
/*------------------Allgemein-------------------------*/

body {
    height: 100vh;
    margin: 0;
}

h3 {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
}

h5 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    text-align: center;
}

p {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1E212B;
    margin: 0;
    text-decoration: none;
}

li {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1E212B;
}

ul {
    padding-inline-start: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

/* Fonts definieren  */
.font-londrina {
    font-family: 'Londrina Solid', cursive;
}

.font-fira {
    font-family: 'Fira Sans', sans-serif;
}

/* Base Struktur  */
/* Container umschließt alles  */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header ist das oberste Element */
header {
    /* positioning */
    height: 88px;
    /* width: 1024px; */
    width: 100%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    /* apple-green */
    background: #99BB44;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);

    /* handle items  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: 400;
    font-size: 36px;
    color: #FFFDFD;
    padding-left: 32px;
}

header img {
    padding-left: 32px;
    padding-right: 32px;
    height: 37px;
}

header img:last-child {
    height: 48px;
    cursor: pointer;
}

/* Content ist das mittlere Element und beinhaltet die eigentliche Anwendung */
.content {
    /* positioning */
    position: relative;
    flex: 1;
    height: 50%;
    width: 100%;
    margin: auto;
    background: #FFFDFD;

    display: flex;
    justify-content: center;
    align-items: start;
}

.content form {
    /* fixe breite ist variabel und kann auch entfernt werden. Auf 1024px wird das Formular aber immer so aussehen wie in den Designs */
    width: 960px;
    padding: 32px;
}

/* Action Container ist das untereste Element und beinhaltet die Aktionsfelder (buttons) */
.action-container {
    /* positioning */
    height: 94px;
    /* width: 1024px; */
    width: 100%;
    margin: auto;
    z-index: 1;
    /* white */
    background: #FFFDFD;
    /* button_hover */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-container div:first-child {
    padding-left: 32px;
    cursor: pointer;
}

.action-container div:last-child {
    padding-right: 32px;
    cursor: pointer;
}

/* Gridsystem definieren */

.grid-col-1 {
    font-weight: 500;
    text-align: end;
    grid-column: span 1 / span 1;
}

.grid-col-2 {
    font-weight: 500;
    text-align: start;
    grid-column: span 2 / span 2;
}

.grid-col-3 {
    font-weight: 500;
    text-align: start;
    grid-column: span 3 / span 3;
}

.grid-col-4 {
    font-weight: 500;
    text-align: start;
    grid-column: span 4 / span 4;
}

.grid-col-6 {
    font-weight: 500;
    text-align: start;
    grid-column: span 6 / span 6;
}

/* Allgemeine Flex Klasse */
.flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

/* Action Container Styling  */
.action-container div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
    /* text concrete  */
    color: #BEBEB9;
    font-weight: 600;
}

.action-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    /* text concrete  */
    color: #BEBEB9;

    height: 94px;
    width: 456px;
}

.action-wrap a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 100%;

    /* border sand  */
    box-sizing: border-box;
    border: solid 2px #E5E5E3;
    border-radius: 16px;
    /* text apple  */
    color: #99BB44;
    font-weight: 600;
    font-size: 18px;

    cursor: pointer;
}

.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 100%;
    /* apple-green */
    background: #99BB44;
    border: solid 0px #99BB44;
    border-radius: 16px;
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.final-button {
    margin-top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 310px;

    /* apple-green */
    background: #99BB44;
    border: solid 0px #99BB44;
    border-radius: 16px;
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

/* ------- 
Foodsaver start
 --------- */
/* Hintergrund Bild  */
.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Titel Styling */
.wrap-title {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    /* onyx */
    color: #1E212B;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

/* Abbrechen button  */
.cancel-on-start {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 32px;
}

.cancel-on-start div {
    width: 228px;
}

/* ------- 
Foodsaver Hinzufügen
 --------- */
/* Content Aufbau Styling */
.wrapper {
    display: flex;
}

.grid-spacing {
    display: flex;
    gap: 48px;
}

.grid {
    width: 50%;
    /* text concrete  */
    color: #BEBEB9;

    /* handle items  */
    display: grid;
    align-items: start;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 24px 16px;
    height: 50%;
}

/* Grid Titel Styling */
.grid-title {
    height: 17px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

/* Input Felder Styling */
.input {
    width: 100%;
    height: 45px;
    /* alabaster */
    background: #F2F1F0;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    /* onyx */
    color: #1E212B;
    font-size: 14px;
    font-weight: 500;
}

.input:focus {
    outline: none;
}

/* Checkbox für Kühlchek Styling */
.kuehlcheck {
    height: 100%;
    display: flex;
    align-items: end;
}

.grid-col-2:has(.kuehlcheck) {
    font-weight: 500;
    text-align: start;
    grid-column: span 2 / span 2;
    height: 100%;
}

/* Kategorie Grid und Grid-Item Styling */
.category-grid {
    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.category-item {
    font-size: 14px;
    color: #99BB44;
    /* sand  */
    border: solid 2px #E5E5E3;
    border-radius: 20px;
    padding: 12px 0px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.category-item > img {
	width: 56px;
	height: 56px;
}

.category-item p {
    font-weight: 400;
    font-size: 14px;
    /* apple green */
    color: #99BB44;
}

/* Kategorie Auswahl funktionalität via radio buttons */
.radio-container.kategorie input {
    height: 118px !important;
    width: 141px !important;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.radio-container input:checked~.category-item {
    border: solid 2px #99BB44;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.radio-container.kategorie input {
    height: 125px;
    width: 155px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

/* Herkunft Grid und Grid-Item Styling */

.haltbarkeit-grid {
    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 8px 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.haltbarkeit-item {
    margin: 0;
    /* onyx */
    color: #1E212B;
    /* sand  */
    border: solid 2px #E5E5E3;
    border-radius: 8px;
    padding: 8px 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.radio-container.haltbarkeit input {
    height: 46px;
    width: 141px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.radio-container input:checked~.haltbarkeit-item {
    border: solid 2px #99BB44;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/* Haltbarkeit Rangeslider Styling */
.rangeslider {
    width: 100%;
    margin-top: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 445px;
    height: 28px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* background-color: #BEBEB9; */
    background-image: url("../media/range-thumb.svg");
    margin: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* margin-left: 8px; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #99BB44;
    border-radius: 50%;
    /* opacity: 0.2; */
    /* background-image: url("./assets/slider-thumb.svg"); */
}

.slider-steps {
    padding-top: 6px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 0 8px;
}
.slider-steps div {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checked {
    color: #99BB44;
}

/* ------- 
Foodsaver Übersicht
 --------- */

.wrap {
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.add-icon {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

/* Tabelle Styling */
.table {
    width: 100%;
}

.table-headers {
    padding-bottom: 16px;
    margin-bottom: 16px;
    /* text concrete  */
    color: #BEBEB9;
    /* divider sand  */
    border-bottom: solid 2px #E5E5E3;

    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.table-items {
    padding-bottom: 16px;
    margin-bottom: 16px;
    /* text concrete  */
    color: #1E212B;
    /* divider sand  */
    border-bottom: solid 2px #E5E5E3;

    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* -------- Final Check ---------- */
/* Erinnerung Textblock Styling */
.reminder {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 26px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.reminder h1 {
    font-weight: 400;
    font-size: 28px;
}

.reminder h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

/* Erinnerung Checkbox Styling */
.check-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.check-item input {
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    z-index: 10;
    position: absolute;
}

.check-item img {
    cursor: pointer;
}

.check-item img:last-child {
    position: absolute;
    opacity: 0;
}

.check-item input:checked~img {
    opacity: 1;
}

.interaktion-buttons {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 16px;
}

.interaktion-buttons img {
    cursor: pointer;
}

/* Error styling */
.error {
    border: 2px solid #E97878;
}

/*-----------------------------------------------------Alle Pop-ups Foodsaver-------------------------------------------*/


/*-----------------------Buttons Fs-pop-ups-----------------------*/
/*Weiter Button, z.B. "Ja, zur Übersicht" oder "Ja, zur Startseite" kommt vor in: fs-uebersicht-abbr, fs-hinzufuegen-abbr*/
.nextButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 228px;
    margin-right: 32px;

    /* apple-green */
    background: #99BB44;
    border: solid 0px #99BB44;
    border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    text-decoration: none;

    margin-top: 40px;
    margin-bottom: 32px;
}

/*Abbruch-/Exit-Button, z.B. "Nein, doch nicht" kommt vor in: fs-uebersicht-abbr, fs-hinzufuegen-abbr, fs-lm-loeschen*/
.exitButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 228px;
    margin-left: 32px;

    /* apple-green */
    border: 2px solid #E6E5E3;
    border-radius: 16px;
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    text-decoration: none;
    color: #99BB44;

    margin-top: 40px;
    margin-bottom: 32px;
}

/*Löschen-Button, kommt vor in fs-lm-loeschen*/
.deleteButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 228px;
    margin-right: 32px;

    /* apple-green */
    background: #E97878;
    ;
    border: solid 0px #E97878;
    ;
    border-radius: 16px;
    /* box-shadow */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    /* text apple */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    text-decoration: none;

    margin-top: 40px;
    margin-bottom: 32px;
}


/*Bestätigen-Button, kommt vor in fs-nicht-erlaubte-lm, fs-lm-verstauen*/
.allesklarButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 310px;
    height: 54px;

    /* apple-green */
    background: #99BB44;
    border: solid 0px #99BB44;
    border-radius: 16px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    text-decoration: none;
}


/*------------------------Button Spacing-------------------->*/
/*Button spacing wenn 2 Buttons unten rechts*/
.button-spacing-popup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0;
    justify-content: center;
}

/*Button spacing wenn 1 Button in der Mitte*/
.buttoncenter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 32px;
}


/*------------------------Pop ups Allgemein-------------------->*/
/* Überschrift bei Pop-ups*/
.popupheader {
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 0;
    color: #1E212B;
    margin: 0;
}

/*Pop-up größe klein (genutz in fs-uebersicht-abbr, fs-hinzufuegen-abbr)*/
.popupklein {
    display: flex;
    flex-direction: column;
    width: 536px;
    height: 256px;
    background: #FFFDFD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;

    /*Positionierung*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------- Pop-up fs-nicht-erlaubte-lm --------------------*/
/*pop-up*/
.nichtErlaubteLebensmittel {
    width: 536px;
    height: auto;

    /* white */
    background: #FFFDFD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;

    /*Positionierung*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*liste pop-up ul*/
.listpopup {
    display: block;
    list-style-type: disc;
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
}

/*text in li*/
.listpopup>li {
    display: list-item;
    width: 441px;
    margin-left: 32px;
    padding: 0;
}

/*div das die ganze Tabelle beinhaltet -> ul und li dabei*/
.help-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 32px;
    padding-left: 32px;
}

/*Formation .popupheader und neue Ausrichtung wegen Icon neben Überschrift .header-help*/
.popupheader.header-help {
    margin: 0cm;
    padding-left: 16px;
    padding-top: 0;
}

/*Icon neben der Überschirft*/
.help-popup>img {
    width: 32px;
    height: 32px;
}

/*-------------------- Pop-up Lebensmittel richtig abgeben fs-hilfe --------------------*/

/*Überschrift der Schritte, grün*/
.steps-hilfe {
    color: #99BB44;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 8px;
    margin: 0;
}

/*Pop-up*/
.fs-hilfe {
    /*Positionierung*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 927px;
    height: auto;

    /* white */
    background: #FFFDFD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

/*div schrittliste-popup umfasst ul und li*/
.schrittliste-popup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 32px;
    margin-right: 24px;
    padding-left: 0;
}

/*text in der Liste*/
.listpopup>li {
    width: 424px;
    margin-left: 32px;
}

.listpopupHilfe>li {
    width: 180px;
    margin-left: 21px;

    /*Silbentrennung*/
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.icon-help-popup {
    margin-top: 24px;
    width: 120px;
}

/*---------------fs-uebersicht-bearbeiten-----------------*/

.popup-uebersicht-bearbeiten {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    width: 173px;
    height: auto;

    /* white */
    background: #FFFDFD;
    /* drop-shadow */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.trennlinie>img {
    width: 145px;
    margin: 0;
}

.trennlinie {
    display: flex;
    justify-content: center;
}

.bearbeiten {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 4px 0 4px 8px;
}

.bearbeiten>h5 {
    margin: 0;
    color: #99BB44;
}

.loeschen {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 4px 0 4px 8px;
}

.loeschen>h5 {
    margin: 0;
    color: #E97878;
    cursor: pointer;
}

.close {
    width: 48px;
    height: 48px;

    margin: 0 0 8px 0;

    /* white */
    background: #FFFDFD;
    /* sand */
    border: 2px solid #E6E5E3;
    border-radius: 8px;
}

.close>img {
    margin: 15px;
}

.fs-uebersicht-anmerkungen {
    display: none;
    position: absolute;
    top: 100%;
    transform: translateY(5%);
    z-index: 20;
    right: 63px;
}

.fs-uebersicht-bearbeiten {
    display: none;
    position: absolute;
    top: 100%;
    transform: translateY(5%);
    z-index: 20;
}

.fs-uebersicht-loeschen {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 30;
}

.popup p {
    text-align: start;
    margin: 0;
}

/*Pop-up für fs-lm-loeschen*/
.popup-lebensmittel-löschen {
    /* center element */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    width: 536px;
    height: 270px;
    background: #FFFDFD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

/*Einleitungstext auf Pop-up, genutz in fs-uebersicht-abbr, fs-hinzufügen-abbrechen, fs-nicht-erlaubte-lm, fs-lm-verstauen, fs-lm-löschen*/
.textpopup {
    width: 424px;
    margin: 0;
    padding-left: 32px;
    padding-top: 16px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1E212B;
    text-align: start;
}


/*-----------------fs-lm-loeschen-----------------*/
.lebensmittel-zum-löschen-popup {
    padding-left: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

/*Lebensmitteltitel wird angezeit im Pop-up fs-lm-löschen*/
.popupheaderklein {
    padding-left: 32px;
    padding-top: 0px;
    padding-bottom: 0;
    color: #1E212B;
    margin: 0;
}

/*--------------------- fs-anmerkung und fs-anmerkung-allergene-----------------*/

/*Overlay für anmerkung und allergene*/
.popup-anmerkung {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

    width: 285px;
    height: auto;

    /* white */
    background: #FFFDFD;
    /* drop-shadow */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

/*Ausrichtung h5 und p in anmerkung und allergene*/
.popup-anmerkung>h5 {
    margin: 20px 20px 4px 20px;
    text-align: left;
}

.popup-anmerkung>p {
    margin: 0px 20px 20px 20px;
}

.popup-allergene>h5 {
    text-align: left;
}

.header2 {
    margin: 32px 20px 4px 20px;
}

/*-------------------- Formular Helper Pop-ups--------------------*/
.grid-title img {
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.outline {
    /*Positionierung*/
    position: absolute;
    transform: translate(10%, -10%);

    width: 220px;
    padding: 20px;
    /* white */
    background: #FFFDFD;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

#hilfeKategorien,
#hilfeMenge,
#hilfeAllergene {
    display: none;
    z-index: 1;
}

/*--------------------layout für wenn Pop-ups aufplopen--------------------*/
#fsHilfe,
#fsHinzufuegenAbbr,
#fsHinzufuegenZurueck,
#fsUebersichtAbbr,
#fsNichtErlaubteLm,
#fsLmVerstauen,
#fsLmLoeschen,
#fs-anmerkung,
#grauer-hintergrund {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

#fsAnmerkungAllergene {
    display: none;
    background-color: none;
}





.grid-credits {
width: 100%;

/* handle items  */
display: grid;
align-items: start;
grid-template-columns: repeat(12, minmax(0, 1fr));
grid-template-rows: 1fr;
gap: 16px;
}

.col-1-credits {
grid-column-start: 3;
grid-column-end: 6;

}

.col-2-credits {
grid-column-start: 7;
grid-column-end: 10;
}

.col-1-credits > h5, .col-2-credits > h5  {
text-align: left;
margin-bottom: 0;
}

.grid-credits > h5 {
text-align: left;
grid-column-start: 3;
grid-column-end: 8;
margin-bottom: 0;
margin-top: 48px;
}

.creditsZurueck {
margin-top: 20px;
margin-bottom: 20px;
margin-right: 32px;
}

.footer{
display: flex;
justify-content: end;
width: 100%;
}

.action-container .credits{
position: fixed;
}