body {
    height: 768px;
    margin: 0;
    background: #858585;
}

a,
p {
    margin: 0;
    text-decoration: none;
}

.font-londrina {
    font-family: 'Londrina Solid', cursive;
}

.font-fira {
    font-family: 'Fira Sans', sans-serif;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    /* positioning */
    height: 88px;
    width: 1024px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    /* apple-green */
    background: #99BB44;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);

    /* handle items  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: 400;
    font-size: 36px;
    color: #FFFDFD;
}

header a {
    padding-left: 32px;
    padding-right: 32px;
}

.content {
    /* positioning */
    position: relative;
    flex: 1;
    width: 1024px;
    margin: auto;
    background: #FFFDFD;
}

.content form {
    padding: 32px;
}


.action-container {
    /* positioning */
    height: 94px;
    width: 1024px;
    margin: auto;
    z-index: 10;
    /* white */
    background: #FFFDFD;
    /* button_hover */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-container div:first-child {
    padding-left: 32px;
}

.action-container div:last-child {
    padding-right: 32px;
}


.grid-col-1 {
    font-weight: 500;
    text-align: start;
    grid-column: span 1 / span 1;
}

.grid-col-2 {
    font-weight: 500;
    text-align: start;
    grid-column: span 2 / span 2;
}

.grid-col-3 {
    font-weight: 500;
    text-align: start;
    grid-column: span 3 / span 3;
}

.grid-col-4 {
    font-weight: 500;
    text-align: start;
    grid-column: span 4 / span 4;
}

.grid-col-6 {
    font-weight: 500;
    text-align: start;
    grid-column: span 6 / span 6;
}

.error {
    color: red;
    font-size: 10px;
}

.flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

/* ------- 
Foodsaver start
 --------- */

.background {
    position: absolute;
    left: 55px;
}

.wrap-title {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    /* onyx */
    color: #1E212B;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

.cancel-on-start {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px 32px;
}

.cancel-on-start div {
    width: 228px;
}

/* ------- 
Foodsaver Hinzufügen
 --------- */

.wrapper {
    display: flex;
}

.grid-spacing {
    height: 100%;
    display: flex;
    gap: 48px;
}

.grid {
    width: 50%;
    /* text concrete  */
    color: #BEBEB9;

    /* handle items  */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 24px 16px;
    height: 100%;
}

.grid-title {
    height: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}

.input {
    width: 100%;
    /* height: 46px; */
    /* alabaster */
    background: #F2F1F0;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    /* onyx */
    color: #1E212B;
    font-size: 18px;
    font-weight: 500;
}

.input:focus {
    outline: none;
}

.kuehlcheck {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.category-grid {
    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.category-item {
    font-size: 14px;
    color: #99BB44;
    /* sand  */
    border: solid 2px #E5E5E3;
    border-radius: 20px;
    padding: 12px 0px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.radio-container.kategorie input {
    height: 109px;
    width: 141px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin: 0;
}

.radio-container input:checked~.category-item {
    border: solid 2px #99BB44;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.rangeslider {
    width: 100%;
    margin-top: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 445px;
    height: 28px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* background-color: #BEBEB9; */
    background-image: url("./assets/range-thumb.svg");
    margin: 0;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    /* margin-left: 8px; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #99BB44;
    border-radius: 50%;
    /* opacity: 0.2; */
    /* background-image: url("./assets/slider-thumb.svg"); */
}

.output {
    padding-top: 6px;
    width: 100%;
    font-size: 12px;
}

/* ------- 
Foodsaver Übersicht
 --------- */

.wrap {
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 522px;
    overflow-y: scroll;
}

.add-icon {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
}

.table-headers {
    padding-bottom: 16px;
    margin-bottom: 16px;
    /* text concrete  */
    color: #BEBEB9;
    /* divider sand  */
    border-bottom: solid 2px #E5E5E3;

    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.table-items {
    padding-bottom: 16px;
    margin-bottom: 16px;
    /* text concrete  */
    color: #1E212B;
    /* divider sand  */
    border-bottom: solid 2px #E5E5E3;

    /* handle items  */
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.action-container div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
    /* text concrete  */
    color: #BEBEB9;
    font-weight: 600;
}

.action-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    /* text concrete  */
    color: #BEBEB9;

    width: 456px;
}

.action-wrap a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 100%;

    /* border sand  */
    box-sizing: border-box;
    border: solid 2px #E5E5E3;
    border-radius: 16px;
    /* text apple  */
    color: #99BB44;
    font-weight: 600;
    font-size: 18px;
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 100%;

    /* apple-green */
    background: #99BB44;
    border: solid 0px #99BB44;
    border-radius: 16px;
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.final-button {
    margin-top: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 54px;
    width: 100%;

    /* apple-green */
    background: #99BB44;
    border: solid 0px #99BB44;
    border-radius: 16px;
    /* text apple  */
    color: #FFFDFD;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

/* -------- Final Check ---------- */

.reminder {
    display: flex;
    flex-direction: column;
    gap: 24px;
    line-height: 26px;
    font-size: 18px;
}

.reminder h1 {
    font-weight: 400;
    font-size: 28px;
}

.reminder h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.check-item input {
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    z-index: 10;
    position: absolute;
}

.check-item img {
    cursor: pointer;
}

.check-item img:last-child {
    position: absolute;
    opacity: 0;
}

.check-item input:checked~img {
    opacity: 1;
}