:root {
    --apple-green: #99BB44;
    --dark-green: #446622;
    --light-green: #D5E989;
    --onyx: #1E212B;
    --concrete: #BEBEB9;
    --sand: #E5E5E3;
    --alabaster: #F2F1F0;
    --white: #FFFDFD;
    --error-red: #E97878;
}

.MitarbeiterLogin {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/* Login-Button im Header */
#LoginButton {
    border: 2px solid var(--sand);
    border-radius: 8px;
    padding: 12px;
    margin-left: 12px;
}

#open {
    position: fixed;
    top: 150px;
    left: 50px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    z-index: 100;
}



.popup-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.popup {
    /* width: 540px; */
    grid-column: 4 / span 6;
    background-color: var(--white);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 32px;
    box-sizing: border-box;
    transition: 200ms ease-in-out;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 16px;

    /* transform: scale(1); */
    z-index: 1000;
}

/* .ansehen {
    display: flex;
    flex-direction: column;
}

.block {
    margin-bottom: 40px;
}

.zeile {
    display: flex;
    margin-bottom: 16px;
} */


/* .active {
    transform: scale(1);
} */

.popup h3 {
    font-family: Londrina Solid;
    font-size: 28px;
    font-weight: 400;
    color: var(--onyx);
    margin: 0 0 20px;
    line-height: 32px;
    grid-column: span 2;
}

.popup h5 {
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    color: var(--onyx);
    line-height: 26px;
    margin: 0;
}

#popup_lebensmittel_fairteilen .popup, #popup_lebensmittel_entsorgen .popup {
    padding: 24px 32px 32px;
}

.popup-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    grid-column: span 2;
}

.popup-header-cross {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    grid-column: span 2;
}

.popup-header-cross .container {
    display: flex;
    align-items: center;
}

.popup-header > img, .popup-header-cross .container > img {
    margin-right: 12px;
}

.close-btn {
    width: 48px;
    height: 48px;
    background-color: var(--white);
    border: 2px solid var(--sand);
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup p {
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 26px;
    font-size: 18px;
    grid-column: span 2;
    margin: 0;
}

.marked-red {
    color: var(--error-red);
    font-weight: 600;
}

.marked-green {
    color: var(--apple-green);
    font-weight: 600;
}

.popup-form {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.popup-form-label{
    display: block;
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 14px;
    color: var(--concrete);
    margin: 20px 0 8px;
    grid-column: span 2;
}

#fairteil-menge, #entsorgen-menge {
    padding: 10px 12px;
    background-color: var(--alabaster);
    border: none;
    border-radius: 8px;
    font-family: Fira Sans;
    font-size: 18px;
    color: var(--onyx);
    min-width: 50px;
}

.bestand {
    font-family: Fira Sans;
    font-size: 18px;
    color: var(--onyx);
    display: flex;
    align-items: center;
}

.secondary-btn {
    background-color: var(--white);
    border: 2px solid var(--sand);
    border-radius: 16px;

    padding: 16px 0;
    grid-column: span 1;

    color: var(--apple-green);
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 40px;
}

.secondary-btn-red {
    background-color: var(--white);
    border: 2px solid var(--sand);
    border-radius: 16px;

    padding: 16px 0;
    grid-column: span 1;

    color: var(--error-red);
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 40px;
}

.primary-btn {
    background-color: var(--apple-green);
    border: none;
    border-radius: 16px;

    padding: 16px 0;
    grid-column: span 1;

    color: var(--white);
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 40px;
}

.primary-btn-red {
    background-color: var(--error-red);
    border: none;
    border-radius: 16px;

    padding: 16px 0;
    grid-column: span 1;

    color: var(--white);
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 40px;
}

.center-btn {
    background-color: var(--apple-green);
    border: none;
    border-radius: 16px;

    padding: 16px 120px;

    color: var(--white);
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
    grid-column: span 2;
}

.center-btn-red {
    background-color: var(--error-red);
    border: none;
    border-radius: 16px;

    /* padding: 16px 48px; */
    width: 310px;
    height: 54px;

    color: var(--white);
    font-family: Fira Sans;
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    margin: 40px auto 0;
    display: block;
    grid-column: span 2;
}

.info {
    font-family: Fira Sans;
    font-size: 18px;
    grid-column: span 2;
}

.block {
    margin-bottom: 40px;
}

.last {
    margin: 0;
}

.zeile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 16px;
}

.zeile div:first-child {
    color: var(--concrete);
    grid-column: span 4;
}

.zeile div:nth-child(2) {
    grid-column: 5 / span 8;
}

.popup-tbl td {
    display: flex;
    align-items: center;
}

.popup-tbl td > img {
    margin-left: 8px;
}

.popup-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.popup-menu .close-btn {
    margin-bottom: 8px;
}

.options {
    display: none;
    z-index: 10;
    position: absolute;
    top: 56px;
    right: 0;
    list-style-type: none;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    color: var(--apple-green);
    background-color: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 0 16px;
}

.options li {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--sand);
    padding: 16px 8px;
    width: 144px;
    box-sizing: border-box;

    cursor: pointer;
}

.options li:last-child {
    color: var(--error-red);
    border: none;
}

.options li img {
    margin-right: 16px;
}
